langchain_community
langchain
faiss-cpu
langgraph
rank_bm25
tenacity
nest_asyncio
sentence-transformers
nltk
langchain-google-genai
langchain_huggingface
google-generativeai
google-genai
streamlit
streamlit-chat
